* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    color: white;
}

.navbar {
    background-color: #C5DFF8;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo {
    background-color: #4A55A2;
    background-image: linear-gradient(to top, #7895CB 0%, #4A55A2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 4rem;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}


.navbar_item {
    height: 80px;
}

.navbar_links {
    color: #7895CB;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-weight: 700;
}

.navbar_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #7895CB;
    color: #fff;
}

.navbar_links:hover {
    color: #1a2368;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #1a2368;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #C5DFF8;
    }

    .navbar_menu.active {
        background-color: #C5DFF8;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 70vh;
        font-size: 1.1rem;
    }

    #navbar_logo {
        padding-left: 25px;
    }

    .navbar_toggle .bar {
        width: 40px;
        height: 4px;
        margin: 4px auto;
        transition: all 0.3s ease-in-out;
        background: #7895CB;
    }

    .navbar_item {
        width: 100%;
    }

    .navbar_links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 25%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar_btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Main Section */

.main {
    background-color: #fff;
}

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main_content h1 {
    font-size: 4rem;
    background-color: #4A55A2;
    background-image: linear-gradient(to top, #7895CB 0%, #4A55A2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content h2 {
    font-size: 2rem;
    background-color: #4A55A2;
    background-image: linear-gradient(to top, #cb78b3 0%, #4A55A2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
}

.main_content p {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #5f83a4
}

.main_btn {
    font-size: 1rem;
    background: #7895CB;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main_btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #7895CB;
    background-image: linear-gradient(to top, #4A55A2 0%, #7895CB 100%);
    transition: all 0.35s;
    border-radius: 4px;
}

.main_btn:hover {
    color: #fff;
}

.main_btn:hover:after {
    width: 100%;
}

#main_img {
    text-align: center;
    height: 80%;
    width: 80%;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
}

@media screen and (max-width: 768px) {
    .main_container {
        display: flex;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main_content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main_content h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main_content h2 {
        font-size: 3rem;
    }

    .main_content p {
        font-size: 1rem;
        margin-top: 1.5rem;
    }

    #main_img {
        width: 35%;
        margin-right: -5%;
        top: 0%;
        bottom: 0%;
        left: auto;
        right: 0%;
    }
}

@media screen and (max-width: 480px) {
    .main_container {
        width: 100%;
    }

    .main_content h1 {
        font-size: 4.5rem;
        margin-top: 2rem;
    }

    .main_content h2 {
        margin-top: 0.5rem;
        font-size: 2.5rem;
    }

    .main_content p {
        font-size: 2rem;
        margin-top: 1.5rem;
    }

    .main_btn {
        padding: 12px 36px;
        margin: 2.5rem;
    }

    #main_img {
        width: 0%;
    }
}

/* Skills Section */
.skills {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.skills h1 {
    padding: 10px;
    background-image: linear-gradient(to top, #7895CB 0%, #4A55A2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 5rem;
    font-weight: 900;
}

.skills p {
    padding: 10px;
    color: #5f83a4;
    font-size: 1.5rem;
    text-align: center;
}

.skills_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills_card {
    margin: 1rem;
    height: 525px;
    width: 200px;
    border-radius: 10px;
    position: relative;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.skills_card h2 {
    position: absolute;
    top: 40px;
    left: 30px;
    background-color: #4A55A2;
    background-image: linear-gradient(to top, #cb78b3 0%, #4A55A2 70%);
    background-size: 80%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.skills_card h3 {
    position: absolute;
    top: 450px;
    left: 30px;
    color: #fff;
}

.skills_card:nth-child(1) {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.972) 5%,
        rgba(17, 22, 25, 0.307) 100%
    ), url('/assets/img/skills-backend.svg');
    background-position: 80%;
}


.skills_card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.972) 5%,
        rgba(17, 22, 25, 0.307) 100%
    ), url('/assets/img/skills-frontend.png');
}

.skills_card:nth-child(3) {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.972) 5%,
        rgba(17, 22, 25, 0.307) 100%
    ), url('/assets/img/skills-persistence.jpg');
}


.skills_card:nth-child(4) {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.972) 5%,
        rgba(17, 22, 25, 0.307) 100%
    ), url('/assets/img/skills-cloud.jpg');
}

.skills_card:nth-child(5) {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.972) 5%,
        rgba(17, 22, 25, 0.307) 100%
    ), url('/assets/img/skills-version.png');
    background-position: 40%;
}

.skills_card:hover {
    transform: scale(1.04);
    transition: 0.2s ease-in;
    cursor: pointer;
}

.skills_card_front.active {
    visibility: hidden;
    cursor: pointer;
}

.skills_card_back {
    visibility: hidden;
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #287ece;
    padding: 20px;
    height: 525px;
}

.skills_card_back ul {
    padding: 20px;
    list-style-type: disc;
}

.skills_card_back.active {
    visibility: visible;

    transform: scale(1.024);
    color: #fff;
    transition: 0.6s ease-in-out;
}

.skills_card.active:nth-child(1) {
    background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.972) 5%,
        rgb(74,53,112) 70%,
        rgb(74,53,112) 100%
    );
    background-position: 100%;
}

.skills_card.active:nth-child(2) {
    background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.972) 5%,
        rgb(167,209,221) 70%,
        rgb(167,209,221) 100%
    );
    background-position: 40%;
}

.skills_card.active:nth-child(3) {
    background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.972) 5%,
        rgb(103,131,156) 70%,
        rgb(103,131,156) 100%
    );
    background-position: 40%;
}

.skills_card.active:nth-child(4) {
    background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.972) 5%,
        rgb(77,123,165) 70%,
        rgb(77,123,165) 100%
    );
    background-position: 40%;
}

.skills_card.active:nth-child(5) {
    background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.972) 5%,
        rgb(190,102,86) 70%,
        rgb(190,102,86) 100%
    );
    background-position: 70%;
}

.skills_card_back h2 {
    position: absolute;
    top: 440px;
    text-align: center;
    background-image: linear-gradient(to top, #7895CB 0%, #4A55A2 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 1.3rem;
}


@media screen and (max-width: 768px) {
    .skills h1 {
        font-size: 3.5rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .skills h1 {
        font-size: 2.5rem;
        margin-top: 3rem;
        text-align: center;
    }

    .skills_card {
        height: 250px;
        width: 250px;
    }

    .skills_card_back {
        visibility: hidden;
        font-size: 1.05rem;
    }
}